<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ζώα Συντροφιάς</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<h1>Citizen Page</h1>

<div class="container">
    <form class="form-signin" method="get" action="/newpet">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add a new pet</button>
    </form>
    <form class="form-signin" method="get" action="/pets/list">
        <button class="btn btn-lg btn-primary btn-block" type="submit">List all pets</button>
    </form>
</div>
</body>
</html>