<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pets</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please enter the pet's new credentials</h2>
        <p>
            <label for="serialNumber" class="sr-only">Serial Number</label>
            <input type="text" id="serialNumber" class="form-control" placeholder="Serial Number"
                   required
                   autofocus>
        </p>
        <p>
            <label for="medical_history" class="sr-only">Medical History</label>
            <input type="text" id="medical_history" class="form-control" placeholder="new medical history" required
                   autofocus>
        </p>


        <button class="btn btn-lg btn-primary btn-block" id="sendRequest" type="submit">Modify History</button>
    </form>


    <form class="form-signin" method="get" action="/vet">
        <button class="btn btn-lg btn-secondary btn-block" type="submit">Back</button>
    </form>
</div>

</body>
</html>

<script>


    window.addEventListener('load', (event) => {
        document.getElementById('sendRequest').addEventListener('click', (event) => {
            /*
            If we fix the issue with the xhr requests canceling themselves, we can add a check on the response
            as we do on other functions, for now it would just be eye candy.
            */
            const pet = {
                'serialNumber': document.getElementById('serialNumber').value,
                'race': null,
                'sex': null,
                'birthday': "2001-10-20",
                'ownerID': null,
                'medical_history': document.getElementById('medical_history').value
            };

            const xhr = new XMLHttpRequest();
            xhr.open('POST', 'http://localhost:8080/vet/modify', true);
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send(JSON.stringify(pet));
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert(xhr.responseText);
                    }
                }
            };
        });
    });

</script>