<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ζώα Συντροφιάς</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<h1>Vet Page</h1>

<div class="container">
    <p>
        <label for="serialNumber" class="sr-only"></label>
        <input type="text" id="serialNumber" class="form-control" placeholder="Serial Number"
               required>
    </p>
    <p>
        <label for="ownerID" class="sr-only">Owner ID</label>
        <input type="text" id="ownerID" class="form-control" placeholder="Owner ID"
               required>
    </p>

    <button class="btn btn-lg btn-primary btn-block" id="sendRequest" type="submit">Search Pet</button>


</div>
</body>
</html>

<script type="text/javascript">

    const tableElem = document.getElementById('table');
    tableElem.style.display = "none";

    //SEARCH BOOKS
    window.addEventListener('load', (event) => {
        document.getElementById('searchBooks').addEventListener('click', (event) => {
            tableElem.innerHTML = ``;
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `http://localhost:3000/books/${document.getElementById('search').value}`, true);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        const results = JSON.parse(xhr.responseText);
                        if (results.length != 0) {
                            tableElem.style.display = "block";
                            tableElem.style.alignItems = "center";
                            tableElem.innerHTML +=
                                "<tr>" +
                                "<th>Id</th>" +
                                "<th>Author</th>" +
                                "<th>Title</th>" +
                                "<th>Genre</th>" +
                                "<th>Price</th>" +
                                "</tr>";
                            results.forEach((element) => {
                                //print each book I get from the GET request
                                tableElem.innerHTML += "<tr>" +
                                    "<td >" + `${element.id}` + "</td>" +
                                    "<td >" + `${element.author}` + "</td>" +
                                    "<td >" + `${element.title}` + "</td>" +
                                    "<td >" + `${element.genre}` + "</td>" +
                                    "<td >" + `${element.price}` + "</td>"
                                    + "</tr>";
                            });
                        } else alert('No results! Please try again!!');
                    }
                }
            };
        });
    });
</script>